<div class="card text-center" style="width: 18rem; margin-top: 50px;">
    <div class="car-header" style="background-color: steelblue;">
        <div class="d-flex flex-row">
            <img src="http://openweathermap.org/img/wn/{{previsao.weather[0].icon}}.png" style="width:30%" >
            <div style="color: blanchedalmond;">
                <p>{{previsao.dt | date: 'dd/MM/y hh:mm:ss'}}</p>
                <p>{{previsao.weather[0].description}}</p>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="bg-light p-4 text-center mb-2">Temperatura máxima: {{previsao.main.temp_max}}&deg;</div>
        <div class="bg-light p-4 text-center mb-2">Temperatura mínima: {{previsao.main.temp_min}}&deg;</div>
        <div class="bg-light p-4 text-center">Humidate Relativa do ar: {{previsao.main.humidity/100 | percent:'2.1-1'}}</div>
    </div>
</div>